Repository lakpj/contoso-payroll: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

azure-pipelines-backend.yml:
  stages:
  - stage: BuildPayrollBackend
    jobs:
    - job: BuildPayrollBackend
      displayName: Build Payroll Backend with Maven
      pool:
        vmImage: ubuntu-latest
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: backend/pom.xml
          mavenOptions: -Xmx3072m
  ...

azure-pipelines-frontend.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: BuildPayrollFrontend
    displayName: Build
    jobs:
    - job: build_test
      displayName: Build and test
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 10.x
        workingDirectory: $(Build.SourcesDirectory)/frontend
  ...

npm install and build
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

change working directory location
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

remove display message from yaml
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

add npm run-script
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

modify he package json for build and test
  frontend/package.json
Due: azure-pipelines-frontend.yml

change yaml file for frotend
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

update build steps
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

update build steps in yaml
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

add node build and run commands
  azure-pipelines-frontend.yml
  frontend/package-lock.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

frontend add docker push
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

update for node build
  azure-pipelines-frontend.yml
  frontend/package.json
Due: azure-pipelines-frontend.yml

update build for react
  frontend/Dockerfile
  frontend/package.json
  package-lock.json
Due: azure-pipelines-frontend.yml

update build for react package.json
  frontend/package.json
Due: azure-pipelines-frontend.yml

update build for react package.json webpack.config.js
  frontend/package.json
Due: azure-pipelines-frontend.yml

change react directory structure
  frontend/src/main/js/api/uriListConverter.js
  frontend/src/main/js/api/uriTemplateInterceptor.js
  frontend/src/main/js/app.js
  frontend/src/main/js/client.js
  frontend/src/main/js/follow.js
  frontend/src/main/websocket-listener.js
Due: azure-pipelines-frontend.yml

change react directory structure
  frontend/src/main/js/websocket-listener.js
Due: azure-pipelines-frontend.yml

change frontend docker image creation
  azure-pipelines-frontend.yml
  frontend/Dockerfile
Due: azure-pipelines-frontend.yml

change frontend docker image creation
  azure-pipelines-backend.yml
  azure-pipelines-frontend.yml
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

frontend yaml error fix
  azure-pipelines-frontend.yml
Due: azure-pipelines-frontend.yml

remove unwanted lock fil
  package-lock.json
Due: none

change image url for docker-compose file
  docker-compose-payroll.yaml
Due: none

Set up CI with Azure Pipelines infra pipeline
  infrastucture/azure-pipelines-infra.yml
Due: none

infra directory initial commit
  .gitignore
  backend/azure-pipelines-backend.yml
  backend/src/main/resources/templates/index.html
  frontend/azure-pipelines-frontend.yml
  infrastucture/AppServicePlan/azuredeploy.json
  infrastucture/ResourceGroup/azuredeploy.json
  infrastucture/azure-pipelines-infra.yml
  infrastucture/docker-compose-payroll.yml
Due: azure-pipelines-backend.yml, azure-pipelines-frontend.yml

infra missnig service connection
  infrastucture/azure-pipelines-infra.yml
Due: none

infra incorrect action
  infrastucture/azure-pipelines-infra.yml
Due: none

add fix to error Template file pattern matches a directory instead
  infrastucture/azure-pipelines-infra.yml
Due: none

include parameter for resource group
  infrastucture/azure-pipelines-infra.yml
Due: none

add missing environment: 'development'
  infrastucture/azure-pipelines-infra.yml
Due: none

change pipline strcuture
  infrastucture/azure-pipelines-infra.yml
Due: none

app service plan arm template modify
  infrastucture/AppServicePlan/azuredeploy.json
Due: none

service plan template set
  infrastucture/azure-pipelines-infra.yml
Due: none

service plan name set
  infrastucture/AppServicePlan/azuredeploy.json
Due: none

add azure cli to deploy webapp
  infrastucture/AppServicePlan/azuredeploy.parameters.json
  infrastucture/ResourceGroup/azuredeploy.json
  infrastucture/azure-pipelines-infra.yml
Due: none

add missing command
  infrastucture/azure-pipelines-infra.yml
Due: none

deploy webapp to app service
  infrastucture/AppServicePlan/azuredeploy.json
  infrastucture/azure-pipelines-infra.yml
  infrastucture/docker-compose-payroll.yml
Due: none

add dependent stage for the webapp
  infrastucture/azure-pipelines-infra.yml
Due: none

change cli to deploy webapp
  infrastucture/azure-pipelines-infra.yml
Due: none

Path conditions:
  azure-pipelines-backend.yml: any of: backend, azure-pipelines-backend.yml
  azure-pipelines-frontend.yml: any of: frontend, azure-pipelines-frontend.yml
